<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      *::after,
      *::before,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        position: relative;
      }
    </style>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.containerId %>"></div>
  </body>
</html>
